[submodule "server"]
	path = server
	url = https://github.com/Geokureli/Advent2020-Server.git
[submodule "digMinigame"]
	path = digMinigame
	url = https://github.com/oscarcederberg/adventcollab20-digging.git
[submodule "positivity"]
	path = positivity
	url = https://github.com/mig-moog/newgrounds-adventure2020
[submodule "chimney"]
	path = chimney
	url = https://github.com/oscarcederberg/adventcollab2020-chimney
